# Sanity CMS (see Unit 2 PR for full setup)
PUBLIC_SANITY_PROJECT_ID=  # Get from sanity.io/manage
PUBLIC_SANITY_DATASET=production
SANITY_PROJECT_ID=         # Same value, used by Sanity CLI
SANITY_DATASET=production
