---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Jonathen Colon" description="About Jonathen Colon">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="I code, design, and play with passion and purpose."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jonathen Colon and friends"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>My passion for video games was another significant aspect of my early experiences. I spent countless hours gaming, often delving into the settings to optimize performance. The 2011 MacBook Pro was the first machine I truly fell in love with. Gaming on this device introduced me to macOS and Wine, tools I continue to use today on my current Mac and Steam Deck.</p>
					
					<p>My fascination with technology led me to the Raspberry Pi, a device that opened up a new world of possibilities. I experimented with its GPIO pins, hosted my own file servers, game servers, and websites, and dove into the depths of Linux. This compact yet powerful device also introduced me to Docker, Git, GitHub, SSH, remote desktop, and the command line. I developed a workflow where I would code on my Mac, push the changes to GitHub, and then pull them onto my Pi.</p>
					
					<p>The knowledge and skills I acquired from working with the Pi sparked an interest in other platforms, particularly Windows. I familiarized myself with Windows Remote Desktop, Windows Server, and the Windows command line.</p>
					
					<p>Now, my sights are set on game development. I’m learning to use Unity, Unreal Engine, Blender, and Photoshop with the goal of creating my own games. My ultimate dream is to establish my own game company and develop a proprietary game engine. This journey, which started with a child’s curiosity, has evolved into a lifelong passion for technology and its limitless potential.</p>
					
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Bristol Community College, Fall River, MA — Associate's Degree in Computer Sci, 2019</p>
					<p>Diman Reg Voc Tech High School, Fall River, MA  — High School Diploma</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content two-columns">
					<div class="column">
						<ui>
							<li>Java</li>
							<li>Computer Science</li>
							<li>Android</li>
							<li>Application Development</li>
							<li>JavaScript</li>
							<li>MySQL</li>
							<li>Mac OS</li>
							<li>C/C++</li>
							<li>Equipment Repair</li>
							<li>Windows</li>
							<li>SQL</li>
							<li>GitHub</li>
						</ui>
					</div>
					<div class="column">
						<ui>
							<li>Windows Remote Desktop</li>
							<li>Computer Networking</li>
							<li>Troubleshooting</li>
							<li>Technical Support</li>
							<li>Software Development</li>
							<li>Software troubleshooting</li>
							<li>Linux</li>
							<li>Docker</li>
							<li>Git</li>
							<li>HTML</li>
							<li>CSS</li>
							<li>PHP</li>
						</ui>
					</div>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.two-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .column {
    flex: 1;
    margin: 10px;
  }
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (max-width: 600px) {
    .column {
      flex-basis: 100%;
	  margin: 1px;
    }
  }

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
