---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack</h2>
		<p>I’m a full-stack developer proficient in front-end JavaScript frameworks like Astro and React. I have back-end experience with MySQL, PHP, and BaaS platforms.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="it-support" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>I.T Technician</h2>
		<p>I've worked for Geek Squad for 3 years were I learn a lot about tech and now I use that at my new Job at a Non-profit. Where I work with Voip, network printers, and active directory.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Game Development</h2>
		<p>I’m a game developer with experience in Minecraft server management, and proficiency in Unreal Engine and Unity.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
